
Tpractico1/.classpath
Tpractico1/.project
Tpractico1/.settings/org.eclipse.core.resources.prefs
Tpractico1/bin/module-info.class
Tpractico1/bin/Tpractico1/Tpractico1ejec1b.class
Tpractico1/bin/Tpractico1/Tpractico1ejec1c.class
Tpractico1/bin/Tpractico1/Tpractico1ejec1d.class
Tpractico1/bin/Tpractico1/Tpractico1ejec2.class
Tpractico1/src/module-info.java
